proxmox_api_url         = "https://<proxmox_ip>:8006/api2/json"
proxmox_node            = "<proxmox_nodename>"
proxmox_api_token_id    = "<user@realm!tokenid>"
proxmox_api_token_secret= "<token-secret>"
